body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

header, footer {
    background-color: #5bdadf;
}

.site-title {
    color: #9210a1;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

section > ul {
    list-style-type: square;
}

section li:nth-child(odd) {
    background-color: lightcyan;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    background-color: mediumpurple;
    border: 2px solid blueviolet;
    padding: 0.5px 1px;
}

nav a:hover, nav a:focus {
    background-color: lavender;
}